/* src/components/HomePage.css */

.github-widget {
  width: 100%; /* Adjusted width for responsiveness */
  max-width: 42vw; /* Maximum width for larger screens */
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Adjusted flex direction for responsiveness */
  align-items: center;
}

.avatar img {
  width: 80px; /* Adjusted width for responsiveness */
  height: 80px; /* Adjusted height for responsiveness */
  border-radius: 50%; /* Changed to 50% for round shape */
  margin-right: 10px;
}

.widget-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.widget-content {
  margin-bottom: 10px;
}

.widget-footer {
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .github-widget {
    width: 80%; /* Adjusted width for smaller screens */
    flex-direction: column; /* Changed to column layout for smaller screens */
    align-items: center;
  }

  .avatar img {
    width: 60px; /* Adjusted width for smaller screens */
    height: 60px; /* Adjusted height for smaller screens */
  }
}

@media (max-width: 480px) {
  .github-widget {
    width: 90%; /* Further adjusted width for mobile screens */
  }

  .avatar img {
    width: 50px; /* Further adjusted width for mobile screens */
    height: 50px; /* Further adjusted height for mobile screens */
  }

  .widget-header {
    font-size: 1rem; /* Adjusted font size for mobile screens */
  }
}
