.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.about-us-container {
    position: absolute;
    top: 22vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(26,225,231 0.57);    
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }
  
  .about-us-container h1 {
    color: #333;
  }
  
  .about-us-container p {
    color: #666;
    line-height: 1.6;
  }
  
  .contact-info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  