  .home-container {
    height: 80vh;
    text-align: center;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(26,225,231 0.57);
  }
  
  .home-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2em;
    margin-bottom: 40px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 45%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(0, 0, 0); }
  }
  
  .home-container a {
    text-decoration: none;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .home-button {
    margin-top: 20px;
    background-color: #007bff;
    box-shadow: 2px 6px 15px rgba(19, 19, 19, 0.336);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .home-button:hover {
    background-color: #0057b3;
  }
  
  @media (max-width: 768px) {
    .home-container {
      padding: 20px;
    }
  
    .home-container h1 {
      font-size: 2em;
      margin-bottom: 15px;
    }
  
    .home-container p {
      font-size: 1em;
      margin-bottom: 30px;
    }
  
    .home-button {
      padding: 8px 16px;
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 500px) and (min-width:300px) {
    .home-container {
      padding: 10px;
    }
  
    .home-container h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    .home-container p {
      font-size: 0.9em;
      margin-bottom: 20px;
    }
  
    .home-button {
      padding: 6px 12px;
      font-size: 0.8em;
    }
  }px) {
    .home-container {
      padding: 10px;
    }
  
    .home-container h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    .home-container p {
      font-size: 0.9em;
      margin-bottom: 20px;
    }
  
    .home-button {
      padding: 6px 12px;
      font-size: 0.8em;
    }
  } 