@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  margin: 0px;
  padding: 0px;

}

#root {
  background: rgb(0, 255, 236);
  background: radial-gradient(circle, rgba(0, 255, 236, 1) 20%, rgba(142, 86, 205, 1) 83%);
  height: 140vh;
  
}


* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 484;
  font-style: normal;
}


.main {
  width: 100%;
  height: 140vh;
  display: grid;
  justify-items: center;
  
  padding-top: 20px;
  

}

.cards {
  height: 90vh;
  width: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 4px 4px 12px rgb(0, 0, 0),
  -1px -1px 4px #ffffff,
  inset -4px -4px 12px #00ffee91,
  inset 4px 4px 12px rgb(86, 195, 245);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  transition-duration: 2s;
}

.cards:hover {
  height: 100vh;
}
.getLocationBtn{
  top:1vh;
  left:3vh;
  position: absolute;
  height: 5vh;
  width: 5vh;
  margin: 0px;
  top: 2vh;
  left: 2vw;
  border-radius: 50%;
  background-color:transparent;
}
.LocationBtn{
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}

form {
  background-color: transparent;
  height: 10vh;
  width:70vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  
}



input {

  background-color: transparent;
  left: 15vh;
  height: 70px;
  width: 55vh;
  text-align: left;
  color: transparent;
  font-size: 50px;
  border: rgb(19, 20, 20) 5px solid;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
  flex-grow: 2;
}
label {
  position: absolute;
  width: 40vh;
  color: black;
  text-align: center;
  align-content: center;
  font-size: 25px;
  margin-left: 20px;
  padding-left: 10px;
}

form:focus-within label {
  transform: translateY(-50%) translateX(-20%);
  transition: 1s;
  font-size: 20px;
  border: none;
  color: rgb(39, 65, 52);
}

form:focus-within input {
  border: none;
  color: black;
  border-bottom: ridge 2px black;
  border-radius: 0px;
  transition: 2s;
}

button{
  height: 70px;
  margin-left: vh;
  width: 70px;
  background-color: transparent;
  border: transparent solid 2px;
  border-radius: 50%;
  
}


.search-icon {
  height: 55%;
  width: 55%;
  top: 10px; 
  left: 10px;
}
.search-icon:hover { cursor: pointer;}
.search-icon:active {
  transform: scale(0.9);
}
.search-icon:focus {
  outline: none;
}
div.suggestions{
  position: absolute;
  top:13vh;
  left: 20vh;
  width: 50%;
  height: max-content;
  padding: 5px;
  border-radius: 0px 0px 10px 10px ;
  border: 1px solid rgba(94, 94, 94, 0.274); 
  background-color: rgba(255, 255, 255, 0.452);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.suggestion-item{
  width: 100%;
  height: 90%;  
  margin: 5px;
}
.suggestion-item:hover{
  border: rgba(0, 0, 0, 0) 1px solid;
}
.result-box {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height: 65vh;
  width: 80vh; 
  
  overflow: hidden;
}

.temp {
  order:3 ;
  top: 22vh;
  left: 10vh;
  height: 10vh;
  width: 14vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh;

}
.feels_like{
  order:5;
  font-size:3vh;  
  top: 35vh;
  left: 8vh;
  align-items: center;
}
.Wind_icon{
  order:2;  
  height: 20vh;
  width: 15vh;
  
}
.Wind_icon img{
  height: 30%;
  width: 20%;
}
.wind_speed{
  order:4;
  height: 5vh;
  width: 15vh;
  font-size:2vh;
   display: grid;
  align-items: center;
  top: 29vh;
  left: 47vh;
  text-align: center;
}

.wind_direction{
  order: 6;
  height: 5vh;
  width: 17vh;
  font-size:2vh;
  display: grid;
  align-items: center;
  top: 35vh;
  left: 46vh;
  text-align: center;


}

.location {
  order:7;  
  bottom: 0px;  
  left: 0px;
  height: 10vh;
  width: 30vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

.weather-condition {
 order:8;
  bottom: 0px;
  right: 0px;
  height: 10vh;
  width: 25vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh
}

.weather-icon {

  height: 20vh;
  width: 18vw;
 
}

.weather-icon img {
  height: 70%;
  
}
.weather-icon,.Wind_icon, .temp, .feels_like,  .wind_speed, .wind_direction, .location, .weather-condition {
  flex: 1 1 45%; 
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.glass-footer {
  background: rgba(51, 50, 50, 0.414);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(51, 50, 50, 0.414);
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.glass-footer p {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 500px)  and (min-width : 300px) {
  #root {
    background: rgb(0, 255, 236);
    background: radial-gradient(circle, rgba(0, 255, 236, 1) 20%, rgba(142, 86, 205, 1) 83%);
    height: 140vh;
    width: 120vw;
    
  }
  
  .main{
    height: 122vh;
    width: auto;

  }
  .cards {
    height: 60vh;
    width: 90vw; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .getLocationBtn {
    position: absolute;
    top: 1.5vh;
    left:2vh;
    height: 5vh;
    width: 5vh;
    margin-left: 0;
    
  }

  .LocationBtn {
    height: 4vh;
    width: 4vh;
    padding: 2px;
  }

  form{
    position: absolute;
    top: 1vh;
    left: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 6vh;
    padding: 2px;
  }
  

  input {
    position: absolute;
    left: 8vw;
    height: 30px;
    width: 40vw;
    font-size: 1.5rem;
    border: 3px solid rgb(19, 20, 20);
    padding-left: 3px;
    flex-grow: 1;
  }

  label {
    left: 10vw;
    height: 30px;
    width: 25vw;
    font-size: 0.7rem;
  }

  form:focus-within label {
    font-size: 0.6rem;
    transform: translateY(-60%) translateX(-50%);
  }

  form:focus-within input {
    font-size: 1rem;
  }
  

  button {
   height: 45px;
   position: absolute;
   right: 6vw;
  }
  div.suggestions{
    position: absolute;
    top:6vh;
    left: 11vh;
    width: 30%;
    height: max-content;
    padding: 3%;
    border-radius: 0px 0px 10px 10px ;
    border: 1px solid rgba(94, 94, 94, 0.274); 
    background-color: rgba(255, 255, 255, 0.452);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
  }
  .suggestion-item{
    width: 100%;
    height: 90%;  
    margin: 2px;
  }
  .suggestion-item:hover{
    border: rgba(0, 0, 0, 0) 1px solid;
  }
  .result-box {
    height: 50vh; 
    width: 85vw; 
    position: absolute;
    top: 10vh;
   
  }

  .weather-icon, .temp, .feels_like, .Wind_icon, .wind_speed, .wind_direction, .location, .weather-condition {
    flex:1 1 40%; 
    font-size: 0.8rem;
  }

  .weather-icon img{
    max-width: 60%; 
    max-height: 60%

  }
  .weather-icon {
    height: 15vh;
    width: 7vw;
  }

  .temp {
    font-size: 2rem;
   
  }

  .feels_like {
    font-size: 1rem;
  
  }

  .Wind_icon {
   height: 15vh;
   width: 7vw;
   
  }

  .Wind_icon img {
    max-width: 50%; 
    max-height: 100%
  }

  .wind_speed {
    font-size: 1rem;
    
  }

  .wind_direction {
    font-size: 1rem;
    
  }

  .location {
    font-size: 1.2rem;
  
  }

  .weather-condition {
    font-size: 1.3rem;
  
  }

  

  .weather-icon img {
    height: 90%;
    width: 100%;
  }

 
}
@media (max-height:900px) and() {
  form{
    width: 50%;
  }
  .search-icon{
    height: 40px;
    width: 30px;
  }  
 
}