@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  margin: 0px;
  padding: 0px;

}

#root {
  background: rgb(0, 255, 236);
  background: radial-gradient(circle, rgba(0, 255, 236, 1) 20%, rgba(142, 86, 205, 1) 83%);
}

* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 484;
  font-style: normal;
}


.main {
  
  height: 100vh;
  background-color: black;
  display: grid;
  justify-items: center;
  padding-top: 20px;
  background: rgb(86, 94, 205);
  background: radial-gradient(circle, rgba(86, 94, 205, 1) 13%, rgba(0, 255, 197, 1) 89%);

}

.cards {
  height: 75vh;
  width: 80vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: top;
  padding: 10px;
  transition-duration: 2s;
}

.cards:hover {
  height: 80vh;
}

form {
  padding-top: 10px;
  background-color: transparent;
  height: 10vh;
  width:70vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: top;
}
.getLocationBtn{
  top:2.5vh;
  left:3vh;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color:transparent;
}
.LocationBtn{
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}


input {
  background-color: transparent;
  z-index: 2;
  position: absolute;
  align-items: center;
  left: 15vh;
  height: 50px;
  width: 42vh;
  text-align: left;
  color: transparent;
  font-size: 30px;
  margin-left: 20px;
  border: rgb(19, 20, 20) 5px solid;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}

.result-box {
  height: 60vh;
  width: 70vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.temp {
  position: absolute;
  top: 22vh;
  left: 10vh;
  height: 10vh;
  width: 14vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh;

}
.feels_like{
  font-size:3vh;
  position: absolute;
  top: 35vh;
  left: 8vh;
  align-items: center;
}
.Wind_icon{
  position: absolute;
  top: 23vh;
  left: 52vh;
}
.wind_speed{
  height: 5vh;
  width: 15vh;
  font-size:2vh;
  position: absolute;
  display: grid;
  align-items: center;
  top: 29vh;
  left: 47vh;
  text-align: center;
}
.wind_direction{
  height: 5vh;
  width: 17vh;
  font-size:2vh;
  position: absolute;
  display: grid;
  align-items: center;
  top: 35vh;
  left: 46vh;
  text-align: center;


}

.location {
  position: absolute;
  bottom: 0px;  
  left: 0px;
  height: 10vh;
  width: 30vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

.weather-condition {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 10vh;
  width: 25vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vh
}

.weather-icon {
  position: absolute;
  top: 5px;
  left: 24vh;
  height: 20vh;
  width: 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.weather-icon img {
  height: 90%;
  width: 100%;
}


label {
  left: 30vh;
  height: 50px;
  width: 40vh;
  color: black;
  text-align: center;
  align-content: center;
  font-size: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

form:focus-within label {
  transform: translateY(-50%) translateX(-20%);
  transition: 1s;
  font-size: 20px;
  border: none;
  color: rgb(39, 65, 52);
}

form:focus-within input {
  border: none;
  color: black;
  border-bottom: ridge 2px black;
  border-radius: 0px;
  transition: 2s;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 5vh;
  width: 50px;
  background-color: transparent;
  border: transparent solid 2px;
  border-radius: 50%;
}


.search-icon {

  height: 55%;
  width: 55%;
  top: 10px; 
  left: 10px;
  bottom: 0px;
}
.search-icon:hover { cursor: pointer;}
.search-icon:active {
  transform: scale(0.9);
}
.search-icon:focus {
  outline: none;
}
@media (max-width: 1200px) {
  
  .cards{
     height: 40vh;
     width: 70vh;
     display: grid;
     align-items: center;
     justify-content: center;
     
 
  }
  input{
    left: 19vh;
    height: 30px;
    width: 23vh;
    text-align: left;
    color: transparent;
    font-size: 10px;
    margin-left: 10px;
    border: rgb(19, 20, 20) 3px solid;
    border-radius: 20px;
    padding-left: 3px;
    outline: none;
  }
  label {
    left: 12vh;
    height: 30px;
    width: 13vh;
    color: black;
    text-align: center;
    align-content: center;
    font-size: 10px;
    margin-left: 20px;
    padding-left: 10px;
    outline: none;

  }
  form:focus-within label {
    transform: translateY(-50%) translateX(-20%);
    transition: 1s;
    font-size: 5px;
    border: none;
    color: rgb(39, 65, 52);
  }
  form:focus-within input {
    border: none;
    color: black;
    border-bottom: ridge 2px black;
    border-radius: 0px;
    transition: 2s;
    outline: none;
    font-size: 5px;
    
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-left: 10vh;
    width: 30px;
    background-color: transparent;
    border: transparent solid 2px;
    border-radius: 50%;
  }
  .result-box{
    height: 60vh;
    width: 35vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  

.temp {
  position: absolute;
  top: 22vh;
  left: 10vh;
  height: 6vh;
  width: 7vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}
.feels_like{
  font-size:0.7rem;
  position: absolute;
  top: 35vh;
  left: 8vh;
  align-items: center;
}
.Wind_icon{
  position: absolute;
  top: 23vh;
  left: 47vh;
  height: 5vh;
  width: 5vh;

}
.Wind_icon img{
  width: 90%;
  height: 100%;
}
.wind_speed{
  height: 5vh;
  width: 6vh;
  font-size:0.5rem;
  position: absolute;
  display: grid;
  align-items: center;
  top: 29vh;
  left: 47vh;
  text-align: center;
}
.wind_direction{
  height: 5vh;
  width: 12vh;
  font-size:0.5rem;
  position: absolute;
  display: grid;
  align-items: center;
  top: 35vh;
  left: 46vh;
  text-align: center;


}

.location {
  position: absolute;
  bottom: 0px;  
  left: 0px;
  height: 4vh;
  width: 12vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
}
.getLocationBtn{
  position: absolute;
  left: -2vh;
  top:6vh;
  height: 5vh;
  width: 5vh;

}
.LocationBtn{
  height: 4vh;
  width: 4vh;
 padding: 2px;
}

.weather-condition {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 4vh;
  width: 11vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem
}


  .weather-icon {
    position: absolute;
    top: 5px;
    left: 33vh;
    height: 7vh;
    width: 7vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .weather-icon img {
    height: 90%;
    width: 100%;
  
}
form{



}
}